<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/plugins/thumbnail/lg-thumbnail.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/plugins/zoom/lg-zoom.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/plugins/fullscreen/lg-fullscreen.umd.js">
</script>




{{ $image := (.Page.Resources.ByType "image") }}
{{ with $image }}
<div id="lightgallery">
    {{ range . }}
    {{ $resized := .Fill "250x250 q20" }}
    <a href="{{ .Permalink }}"><img src="{{ $resized.Permalink }}" /></a>
    <!-- <a href="{{ .Permalink }}" data-lightbox="x"><img src="{{ $resized.Permalink }}" /></a> -->
    {{ end }}
</div>
{{ end }}

<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        plugins: [lgZoom, lgThumbnail, lgFullscreen],
        speed: 500,
        mode: 'fade',
    });
</script>